.card-container {
  width: 125px;
  height: 125px;
  flex: 1 0 21%; //flex-grow, flex-shrink, flex-basis. 21% so it can be 4 items with space for margins
  margin: 0px 0px;
  display: flex;
  justify-content: center;

  .image-wrap {
    width: 100px;
    height: 100px;
    background-color: black;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    color: #FFF;
    font-family: 'Josefin Sans';
    font-size: 10rem;
    position: relative;
  
    img {
      width: 100%;
    }

    .game-name-letter {
      position: absolute;
    }
  }

}

